.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: rgb(255, 255, 255);
  background: radial-gradient(circle, #ffffff 53%, #e3e3e3 93%);
}

.logo {
  width: 90vw;
  max-width: 760px;
  pointer-events: none;
}
